*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* Color variables */

    --background-color: #000000;
    --bg-button-color: #383838;
    --primary-text-color: #f4f4f4;
    --bg-task-color: #2a2a2a;
    --delete-color: #c40303;


    /* padding variables */

    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;


    /* Border radius variables */

    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(0.95);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    background-color: var(--bg-button-color);
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-md) var(--padding-lg);
    border-radius: var(--border-radius-md);
    transition: all 0.1s ease;
    z-index: 99;
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    /* background-color: crimson; */
    flex-grow: 1;
    gap: var(--padding-xxl);

}

section .task-column{
    background-color: var(--bg-button-color);
    flex-grow: 1;
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    border-radius: var(--border-radius-sm);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);

}

section .task-column .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section .task-column .task{
    background-color:var(--bg-task-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-sm);
    cursor: grab;
}

section .task-column .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    outline: none;
    border: none;
    background-color: var(--delete-color);
    color: var(--primary-text-color);
    transition: all 0.1s ease;
}

section .task-column.hover-over{
    border: 2.5px dashed var(--primary-text-color);
    transform: scale(1.02);
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active{
    display: flex;
}

.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-md);
    gap: var(--padding-md);
    z-index: 10;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2a2a2a64;
    backdrop-filter: blur(5px);
}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-md);
    border-radius: var(--border-radius-sm);
}

.modal .center button{
    background-color: var(--primary-text-color);
    border: none;
    outline: none;
    font-weight: 400;
    color: var(--bg-task-color);
    padding: var(--padding-md) var(--padding-lg);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    width: fit-content;
    align-self: center;
}